<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>main</title>
        <link rel="stylesheet" type="text/css" href="./static/style.css" />
    </head>
    <script>
        function foo() {
        alert("Пожалуйста, подождите. Мы ищем данные...");
        return true;
        }
    </script>
    <body>
    <h1>Здесь Вы узнаете что-то интересное о пользователе или сообществе из vk</h1>
    <form action="/form" method = 'GET'>
    <div>
        <h2>О чем\ком Вы хотели бы узнать?</h2>
        Введите id этого сообщества\пользователя(в виде цифры, с минусом для групп:
        можно найти в ссылке на любую фотографию юзера):
        <input type="text" name="some_id" placeholder="japan_an1me или -86395110"><br>
        <input type="submit" name="form"  value="Найти что-нибудь интересное!" onclick="return foo()">
        <div id = estimate>
            <p>Пожалуйста, будьте готовы немного подождать.</p>
            <p><img src="./static/cat_moving.gif" alt="please, wait!" width="300" height="244"></p>
        </div>
    </div>
</form>
    </body>
</html>