<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>main</title>
        <link rel="stylesheet" type="text/css" href="./static/style.css" />
    </head>
    <style>
        #form1 {
        display:none;
        }
    </style>
    <script>
        foo() {
        $( "#form1" ).toggleClass( "show" );
        }
    </script>
    <body>
    <h1>Здесь Вы узнаете что-то интересное о пользователе или сообществе из vk</h1>
    <form action="/form" method = 'GET'>
    <div>
        <h2>О чем\ком Вы хотели бы узнать?</h2>
        Сообщество или пользователь?
        <select name="user_type">
            <option value="group">Сообщество</option>
            <option value="user">Пользователь</option>
        </select>
        Какой тип id Вы ввели? (Настоятельно рекоммендуем использовать числовой.
        Его можно найти в ссылке, если открыть любую фотографию данного сообщества\пользователя)
        <select name="id_type">
            <option value="numeric">Числовой</option>
            <option value="user">Пользователь</option>
        </select>
        Введите id этого сообщества\пользователя:
        <input type="text" name="some_id" placeholder="japan_an1me или -86395110"><br>
        <input type="submit" name="form"  value="Найти что-нибудь интересное!" onclick="return foo()">
        <div id="form1">
            <li>Пожалуйста, будьте готовы немного подождать. Мы ищем информацию по вашему запросу.</li>
            <p><img src="./static/cat_moving.gif" alt="please, wait!" width="200" height="244"></p>
        </div>
    </div>
</form>
    </body>
</html>